.ad-item {
    height: 120px;
}
.ad-preview {
    background: #eee;
    text-align: center;
    line-height: 120px;
    height: 100%;
    display: block;
}
.thumb-small {
    vertical-align: middle;
}
.image-container {
    width: 170px;
    height: 100%;
    float: left;
    text-align: center;
}
.ad-description {
    margin: 0 185px;
    height: 100%;
    position: relative;
}
.ad-title {
    font-size: 1.25em;
    font-weight: bold;
}
.price-container {
    width: 170px;
    float: right;
    height: 100%;
}
.ad-city {
    font-weight: bold;
    position: absolute;
    bottom: 15px;
}
.ad-added {
    position: absolute;
    bottom: 0;
}
.price-container {
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: bold;
    padding: 8px;
}
.eav-wrapper {
    width: 160px;
    float: left;
}
.ad-item {
    margin: 20px 0;
}
