{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} : главная{% endblock title %}

{% block content %}
<h1>Welcome to <i>{{ App.name }}</i></h1>

<p>Congratulations! You have successfully created your Yii application.</p>
{% endblock content %}
