<div class="row">
    {{ C.Html.activeLabel(model, 'carBody') }}
    {{ C.Html.activeDropDownList(model, 'carBody', lists['carBody'], {'empty':'выбрать'}) }}
    {{ C.Html.error(model, 'carBody') }}
</div>
