<div class="row">
    {{ C.Html.label(attribute~', от', false) }}
    {{ C.Html.textField('search['~attribute~'][min]', value['min']) }}
</div>
<div class="row">
    {{ C.Html.label(attribute~', до', false) }}
    {{ C.Html.textField('search['~attribute~'][max]', value['max']) }}
</div>