<div class="row">
    {{ C.Html.label(form.model.getAttributeLabel(attribute)
        ~'('~form.model.getAttributeUnit(attribute)~'), от', false) }}
    {{ C.Html.textField('search['~attribute~'][min]', value['min']) }}
</div>
<div class="row">
    {{ C.Html.label(form.model.getAttributeLabel(attribute)
        ~'('~form.model.getAttributeUnit(attribute)~'), до', false) }}
    {{ C.Html.textField('search['~attribute~'][max]', value['max']) }}
</div>
