<div class="col-sm-6 col-md-3 eav-attribute">
  {{ C.Html.label(form.model.getAttributeLabel(attribute), attribute~'-id') }}
  {{ C.Html.dropDownList(
    'search['~attribute~']',
    value,
    form.model.getEavVariants(attribute),
    {
      'id': attribute~'-id',
      'empty':'выбрать',
      'class': 'form-control'
    }
  ) }}
</div>
