<div class="row">
    {{ C.Html.label(form.model.getAttributeLabel(attribute), false) }}
    {{ C.Html.dropDownList(
        'search['~attribute~']', value,
        form.model.getEavVariants(attribute), {'empty':'выбрать'})
    }}
</div>
