<div class="row">
    {{ C.Html.label(form.model.getAttributeLabel(attribute), false) }}
    {{ C.Html.dropDownList(
        'search['~attribute~']', value,
        dropDownLists[attribute], {'empty':'выбрать'})
    }}
</div>
