<div class="row">
    {{ C.Html.activeLabel(model, 'truckBody') }}
    {{ C.Html.activeDropDownList(model, 'truckBody', lists['truckBody'], {'empty':'выбрать'}) }}
    {{ C.Html.error(model, 'truckBody') }}
</div>
